@model Sistema_Clinica.Models.Historial

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Historial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.his_fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.his_fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.his_contenido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.his_contenido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.pac_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.pac_nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.his_idHistorial }) |
    @Html.ActionLink("Back to List", "Index")
</p>
