@model IEnumerable<Sistema_Clinica.Models.Historial>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.his_fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.his_contenido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.pac_nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.his_fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.his_contenido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.pac_nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.his_idHistorial }) |
            @Html.ActionLink("Details", "Details", new { id=item.his_idHistorial }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.his_idHistorial })
        </td>
    </tr>
}

</table>
