@model IEnumerable<Sistema_Clinica.Models.HorarioConsulta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.hor_dia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hor_horario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medico.med_nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.hor_dia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hor_horario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medico.med_nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.hor_idHorarioConsulta }) |
            @Html.ActionLink("Details", "Details", new { id=item.hor_idHorarioConsulta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.hor_idHorarioConsulta })
        </td>
    </tr>
}

</table>
