@model Sistema_Clinica.Models.Secretaria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Secretaria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sec_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sec_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sec_apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sec_apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sec_telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sec_telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sec_direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sec_direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sec_FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sec_FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.usu_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.usu_usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sec_idSecretaria }) |
    @Html.ActionLink("Back to List", "Index")
</p>
