@model Sistema_Clinica.Models.MedicoEspecialidad

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MedicoEspecialidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Especialidad.esp_Especialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidad.esp_Especialidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medico.med_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medico.med_nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.mes_idMedicoEspecialidad }) |
    @Html.ActionLink("Back to List", "Index")
</p>
