@model IEnumerable<Sistema_Clinica.Models.Receta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rec_datos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cita.cit_idCita)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.rec_datos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cita.cit_idCita)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.rec_idReceta }) |
            @Html.ActionLink("Details", "Details", new { id=item.rec_idReceta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.rec_idReceta })
        </td>
    </tr>
}

</table>
